<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- <Manager className="com.radiadesign.catalina.session.RedisSessionManager"
      host="localhost"
      port="6379"
      database="0"
      maxInactiveInterval="60"
    /> -->
    <!-- <Manager className="com.crimsonhexagon.rsm.redisson.ElasticacheSessionManager"
      nodes="redis://node1.cache.amazonaws.com:6379 redis://node2.cache.amazonaws.com:6379 ..."
      nodePollInterval="1000"
      [other redisson/common config]
    /> -->
    <!-- <Manager className="com.crimsonhexagon.rsm.redisson.SingleServerSessionManager"
      endpoint="redis://localhost:6379"
      connectionPoolSize="100"
      database="0"
      password="<null>"
      timeout="60000"
      pingTimeout="1000"
      retryAttempts="20"
      retryInterval="1000"
      [common config]
    /> -->

    <!-- <Resource
      name="jdbc/magnoliaAuthorDS"
      auth="Container"
      type="javax.sql.DataSource"
      username="${db.username}"
      password="${db.password}"
      driverClassName="com.mysql.jdbc.Driver"
      url="jdbc:mysql://${db.host}:3306/${db.schema}"
    /> -->
    <Resource
      name="jdbc/magnoliaAuthorDS"
      auth="Container"
      type="javax.sql.DataSource"
      username="$DB_USERNAME"
      password="$DB_PASSWORD"
      driverClassName="com.mysql.jdbc.Driver"
      url="jdbc:mysql://$DB_ADDRESS:$DB_PORT/$DB_SCHEMA"
    />
</Context>
